.main-title {
  color: rgb(255, 255, 255);
  font-size: clamp(1.5rem, 0.688rem + 3.25vw, 3.125rem);
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}

.h1-superbig {
  color: rgb(240, 63, 39);
  font-size: clamp(4rem, 2.875rem + 4.5vw, 6.25rem);
  font-weight: 700;
  line-height: 120%;
}

.h1-standard {
  color: rgb(240, 63, 39);
  font-size: clamp(1.5rem, 0.688rem + 3.25vw, 3.125rem);
  font-weight: 700;
  line-height: 120%;
}

.h2-standard {
  color: rgb(240, 63, 39);
  font-size: clamp(1.5rem, 1rem + 2vw, 2.5rem);
  font-weight: 700;
  line-height: 120%;
}

.p-standard {
  color: rgb(60, 60, 87);
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-20-50 {
  // 20 to 50 px
  margin-bottom: clamp(1.25rem, 0.313rem + 3.75vw, 3.125rem);
}

.mb-50-70 {
  margin-bottom: clamp(3.125rem, 0.313rem + 6.25vw, 4.375rem);
}

.content-standard {
  text-align: center;
  max-width: 750px;
  margin: 0 auto;

  &__link {
    color: #F03F27;
  }
}

.flex-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 20px;

  // Для мобильных устройств
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  // Для десктопов
  @media screen and (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }
}

.flex-block__stretch {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  gap: 20px;

  // Для мобильных устройств
  @media screen and (max-width: 767px) {
    flex-direction: column;
  }

  // Для десктопов
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.flex-child {
  flex: 0 1 100%;

  @media screen and (min-width: 768px) {
    flex: 0 1 50% // 50% width minus gap    
  }
}

summary {
  list-style: none; /* Убирает маркеры списка */
  appearance: none; /* Убирает стандартные стили */
  -webkit-appearance: none; /* Убирает стандартные стили для WebKit-браузеров */
  display: block; /* Устанавливает отображение блока */
}

details summary::-webkit-details-marker {
  display: none; /* Убирает стандартный маркер списка в Safari */
}

.pagination-buttons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination-buttons span {
  border-radius: 6px;
  background: rgb(255, 255, 255);
  padding: 10px;
  color: rgb(60, 60, 87);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  @media screen and (min-width: 768px) {

    &:hover {
      background: rgb(240, 63, 39);
      color: rgb(255, 255, 255);
    }
    
  }
}

.pagination-next, .pagination-prev {
  line-height: 0;
  padding: 0;
  margin: 0;
}

.pagination-next {
  rotate: 180deg;
}

// .pagination-buttons a:not(.prev):not(.next) {
//   padding: 8px 14px;
//   font-size: 16px;
//   border: 1px solid #0768F0;
//   border-radius: 50%;
//   color: #313131;
// }

// == Blog post styles == //
.container-blogpost {
  margin: 0 auto;
  max-width: 900px;
  padding: 0 20px;
}

.blogpost-date {
  color: rgb(164, 164, 164);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 20px;
}

.p-blogpost {
  color: rgb(60, 60, 87);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.h2-blogpost {
  color: rgb(60, 60, 87);
  font-size: clamp(1.125rem, 0.938rem + 0.75vw, 1.5rem);
  font-weight: 700;
  line-height: 120%;
}

.blogpost-image {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.blog-offer {
  padding: 35px 20px;
  border-radius: 20px;
  background: rgb(0, 32, 91);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    padding: 35px;
  }

  // .blog-offer__content
  &__content {
    margin-bottom: clamp(2.188rem, 2.031rem + 0.63vw, 2.5rem);
    
    h3 {
      color: rgb(255, 255, 255);
      font-size: clamp(1.5rem, 1rem + 2vw, 2.5rem);
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 20px;
      max-width: 830px;
    }

    p {
      color: rgb(255, 255, 255);
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      max-width: 615px;
    }
  }

  // .blog-offer__button
  &__button {
    @include secondaryHover;
    border-radius: 100px;
    padding: 13px 48px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 700;
    line-height: 140%;
    width: 100%;

    @media screen and (min-width: 768px) {
      max-width: 250px;
      width: fit-content;
    }
  }
}

.blogpost-quote {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  &__content {
    background: rgb(0, 32, 91);
    padding: 35px 20px;
    color: rgb(255, 255, 255);

    @media screen and (min-width: 768px) {
      padding: 35px;
      flex: 1 0 55%;
    }

    p {
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__img {
    flex: 1 0 45%;
    position: relative;

    @media screen and (min-width: 768px) {
      display: block;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }
}



// == Blog post styles == //