.footer {
  background: rgb(0, 32, 91);
  padding: 50px 0 30px 0;

  @media screen and (min-width: 768px) {
    padding: 70px 0 30px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: clamp(3.125rem, 1.563rem + 6.25vw, 6.25rem);
  }

}
.footer-top {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    
  }

  // .footer-top__left
  &__left {

    img {
      width: 100%;
      max-width: 275px;
    }
  }

  // .footer-top__right
  &__right {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: 768px) {
      gap: 100px;
    }

    @media screen and (min-width: 1220px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 122px;
    }
  }
}
.footer-navigation {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 768px) {
    width: 200px;
  }
}

.footer-popup-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 30px;
  border-radius: 100px;
  background: #fff;
  color: rgb(240, 63, 39);
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 100%;

  @media screen and (min-width: 768px){
    
    &:hover {
      background: rgb(240, 63, 39);
      color: #fff;
    }
  }
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: clamp(3.125rem, 2.344rem + 3.13vw, 4.688rem);

  // .footer-bottom__contacts
  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // .footer-bottom__contact
  &__contact{
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
    position: relative;
    width: fit-content;

    @media screen and (min-width: 768px) {
      font-size: 50px;
    }

    @media screen and (min-width: 1220px) {
      font-size: 92px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 2px;
        background-color: rgb(255, 255, 255);
        transition: width 0.3s ease-in-out;
      }
  
      &:hover::before {
        width: 100%;
      }
    }
  }

  // .footer-bottom__data
  &__data {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: rgb(164, 164, 164);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 150%;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 24px;

  @media screen and (min-width: 1220px) {
    gap: 93px;
  }

  // .footer-links__link
  &__link {
    text-decoration: underline;
  }
}

