.faq {
  margin-bottom: $mbStandard;
}

.h3-faq {
  color: rgb(240, 63, 39);
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  text-align: center;
  margin-bottom: clamp(1.875rem, 1.813rem + 0.25vw, 2rem);

  @media screen and (min-width: 768px) {
    text-align-last: left;
    margin-left: 35px;
  }
}

.faq__content {
}

.accordion__item {
  // border-bottom: 1px solid #ABB8FF;
  // background-color: #fff;
}

.accordion__item--simple {
  
}

.accordion__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  cursor: pointer;
  width: 100%;

  @media screen and (max-width: 768px) {
    align-items: start;
  }
  
}

.accordion-data {
  // display: grid;
  // grid-column-gap: 40px;
  // grid-template-columns: 46px 1fr;
  // align-items: center;
  // height: auto;
  // white-space: normal;

  // @media screen and (max-width: 768px) {
  //   grid-template-columns: 1fr;
  //   grid-template-rows: 1fr 1fr;
  // }
}

.accordion-data--simple {
  
}

.accordion__item--body {
  white-space: normal;
}

.accordion-body--simple {
  padding-bottom: 16px;
}

.faq-number {
  color: #788DFF;
  font-size: clamp(1.25rem, 1.125rem + 0.5vw, 1.5rem);
  font-style: normal;
  font-weight: 500;
}
.faq-title {
  color: rgb(60, 60, 87);
  font-size: clamp(1.125rem, 0.938rem + 0.75vw, 1.5rem);
  font-weight: 700;
  line-height: 120%;
  transition: all 0.3s ease;

  @media screen and (max-width: 400px) {
    max-width: 90%
  }
}
.faq__text {
  color: rgb(60, 60, 87);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  max-width: 700px;
}

.accordion-icon {
  transition: transform 0.3s ease;
}

.accordion-icon.rotated {
  transform: rotate(-90deg);
}